*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: url(./img/bg.png);
}

.container{
    display: flex;
    justify-content: center;
}

.profile-des{
    display: flex;
    justify-content: center;
    width: 72%;
    margin-top: 40px;
}

.left-content{
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    width: 20%;
    height: 80vh;
}

.right-content{
    width: 80%;
    margin-left: 20px;
}

.profile-name{
    padding: 20px;
}

.name{
    text-transform: uppercase;
    font-size: 17px;
    color: #333333;
    font-weight: bold;
}

.job{
    font-size: 13px;
    color: #777777;
}

.profile-img > img{
    width: 100%;
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

ul.profile-information{
    margin: -30px 0 20px -51px;
    list-style: none;
    margin: 8px 0px 8px 35px;
}

ul.profile-information li{
    border-left: solid 2px #eee;
    padding: 0 0 23px 20px;
    font-size: 14px;
    color: #787878;
}

ul.profile-information li:before{
    content: '';
    border: solid 2px;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    font-size: 8px;
    margin: 2px 0 0 -25px;
    font-weight: 400;
    background-color: #fff;
    position: absolute;
    border-color: #ffb100 !important;
    display: block;
}


ul.profile-information > li:first-child{
    padding-bottom: 10px;
    padding-left: 30px;
    position: relative;

}

ul.profile-information > li:first-child:after{
    content: '';
    width: 30px;
    height: 10px;
    position: absolute;
    top: 0px;
    left: 0;
    margin: 16px -15px;
    background: url(./img/glasses.png);
    background-size: 27px 10px;
}

ul.profile-information li:first-child:before{
    content: '';
    position: relative;
    border-radius: 50%;
    font-size: 8px;
    font-weight: 400;
    display: block;
    color: #000;
    background-color: #ffc500 !important;
    margin: -30px 0 20px -51px;
    width: 40px;
    height: 40px;
    border: 11px 14px;
    box-shadow: 0px 2px 32px 0px rgba(4, 123, 248, 0.3);
}

ul.profile-information li:last-child{
    border: 0;
    margin-left: 2px;
    margin-top: -2px;
}


ul.profile-information li p span{
    color: #000;
}

.button-download{
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

#downloadCV{
    margin: 18px 40px 30px;
    padding: 1px 6px 1px 19px;
    background: #ffc500;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

#downloadCV:hover{
    background: #ffb100;
}

#downloadCV i{
    background-color: #fff;
    border-radius: 50px;
    margin-left: 15px;
    height: 27px;
    width: 27px;
    text-align: center;
    line-height: 29px;
}

.fa{
    font-size: 14px;
}

.fa-download:before{
    content: "\f019";
}

.header{
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

.header-left{
    display: flex;
}

.homeContent{
    display: none;
}

.home{
    cursor: pointer;
    width: 70px;
    border: none;
    background-color: #ffc500;
    transition: 0.5s;
    font-size: 21px;
    border-radius: 8px 0 0 8px;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
}

.home:hover{
    background-color: #ffb100;
}

.home a i{
    color: #000;
}

.link{
    display: flex;
    align-items: center;
}

.link li{
    list-style: none;
    margin-left: 20px;
    cursor: pointer;
}

.link a{
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s;
    color: #000;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}


.link li a:hover{
    color: #ffc500;
}

.header-right{
    display: flex;
    justify-content: center;
}

.fa-brands{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    margin-right: 12px;
    color: #000;
    transition: all ease-in-out 0.5s;
}

.fa-brands:hover{
    color: #000;
    scale: 1.5;
}


.linkPersonal{
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 12px;
}

.hireMe{
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-left: 20px;
}

.send{
    cursor: pointer;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #ffc500;
    transition: 0.5s;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
    transition: 0.5s;
    padding: 1px 6px 1px 19px;
    line-height: 35px;
    
}

.send:hover{
    background-color: #ffb100;
}

.send i{
    background-color: #fff;
    border-radius: 50px;
    height: 27px;
    width: 27px;
    text-align: center;
    line-height: 21px;
    font-size: 11px;
    margin-left: 15px;
    text-align: center;
    line-height: 29px;
}

.body{
    margin-top: 40px;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
}

.about-me{
    border-radius: 8px 8px 0 0;
    padding: 30px;
    background-color: #fff;
}

.section-title{
    position: relative;
    display: inline-block;
}

.section-title h2{
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

.section-title span{
    background-color: #ffb100 !important;
    position: absolute;
    height: 7px;
    width: 100%;
    opacity: 0.4;
    bottom: 0;
    left: 0;
}

.about-me p{
    font-size: 13px;
    margin-top: 30px;
    color: #4c4c4c;
    line-height: 29px;
}

.myServices{
    padding: 30px;
    line-height: 20px;
    background: #fafafa;
}

.serviceContent{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.service{
    background: #fff;
    width: 20%;
    margin: 12px 0;
    padding: 20px;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

.service .icon{
    font-size: 44px;
    margin-bottom: 20px;
}

.service .title{
    font-size: 14px;
    color: #333333;
    font-weight: 500;
    line-height: 30px;
}

.service .text{
    font-size: 12px;
    color: #989898;
}

.skill{
    border-radius: 0 0 8px 8px;
    padding: 30px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.designSkill{
    width: 45%;
}

.codeSkill{
    width: 45%;
}

.skillbar{
    margin-top: 20px;
    font-size: 12px;
}

.level{
    width: 100%;
    background-color: #dfdfdf;
    border-radius: 20px;
    margin-bottom: 10px;
}
.bar{
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #eee;
}

.photoshop{
    width: 90%;
    background-color: #ffb100;
}

.sketch{
    width: 60%;
    background-color: #ffb100;
}

.adobe{
    width: 20%;
    background-color: #ffb100;
}

.javascript{
    width: 90%;
    background-color: #ffb100;
}

.html{
    width: 60%;
    background-color: #ffb100;
}

.css{
    width: 30%;
    background-color: #ffb100;
}


/* resume Content */

.resumeContent{
    display: none;
    background: #fff;
}

.education{
    padding: 40px;
}

.showEdu{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}


.eduHistory{
    width: 45%;
}

.workingHistory{
    width: 45%;
}

.timeline li{
    list-style: none;
    border-left: solid 2px #cecece;
    padding: 0 0 40px 30px;
}

.timeline li:before{
    content: "";
    border: solid 2px;
    width: 4px;
    height: 4px;
    border: solid 2px #ffb100;
    border-radius: 50px;
    font-size: 8px;
    margin-left: -35px;
    font-weight: 400;
    background: #fff;
    display: block;
    position: absolute;
    margin-top: -1px;
}

.timeline li:first-child:before{
    border: 0;
    background: none;
    position: relative;
    display: flex;
}

.timeline li:last-child{
    border: 0;
    margin-left: 2px;
}

.timeline li:first-child i{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #ffb100;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: -13px -48px;;
    padding: 18px 16px;
}

.timeline li:first-child h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: -32px 0 20px 20px;
}

.timeline li{
    line-height: 32px;
}

.achive{
    font-size: 16px;
    line-height: 6px;
    font-weight: 500;
}

.timeline li span{
    font-size: 12px;
    padding: 9px 0;
}

.timeline li p{
    font-size: 13px;
    color: #989898;
    font-weight: 400;
    line-height: 18px;
}

.clients{
    padding: 40px;
    background-color: #fafafa;
}

.showClient{
    display: flex;
    justify-content: space-between;
}

.client{
    width: 20%;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    padding: 26px 26px;
    background: #fff;
    margin-top: 20px;
    border-radius: 8px;
}

.client img{
    width: 100%;
    border-radius: 8px;
}

.testimonials{
    padding: 40px;
}

.showTestimonial{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.testimonial{
    width: 30%;
    border-radius: 8px;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    padding: 20px;
}

.testInfo{
    display: flex;
    border-bottom: solid 1px #dfdfdf;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.testInfo img{
    border-radius: 50px;
    width: 46px;
    min-height: 46px;
    margin-right: 12px;
    overflow: hidden;
}

.nameTest{
    font-size: 14px;
    font-weight: 500;
}

.positionTest{
    font-size: 12px;
    color: #d0d0d0;
    margin-top: 4px;
}

.testQuote{
    color: #989898;
    font-size: 12.5px;
    line-height: 20px;
}


.portfolioContent{
    display: none;
    padding: 40px;
    background: #fff;
}

.list{
    display: flex;
    list-style: none;
    margin: 30px 0;
}

.list li{
    font-size: 14px;
    color: #787878;
    margin-right: 15px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.list li:hover{
    color: #ffc500;
}

.item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    cursor: pointer;
}

.webDesign, .motion, .photography{
    width: 30%;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

.webDesign img, .motion img, .photography img{
    width: 100%;
}

.infoItem{
    padding: 10px;
    line-height: 29px;
}

.infoItem span{
    font-size: 14px;
    color: #000;
}

.infoItem p{
    font-size: 13px;
    color: #989898;
}

.loadMore{
    width: 100%;
    text-align: center;
}

.loadMore a{
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    background-color: #ffc500;
    padding: 16px 29px;
    border-radius: 40px;
    transition: all ease-in-out 0.2s;
}

.loadMore a:hover{
    background-color: #ffb100;
}

.blogContent{
    display: none;
    padding: 20px;
    background: #fff;
}

.listBlog{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.blog{
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    line-height: 30px;
    cursor: pointer;
}

.blog img{
    width: 100%;
}

.blogDes{
    padding: 12px;
}

.blogDes h2{
    font-size: 15px;
    color: #000;
    line-height: 20px;
    padding: 2px 0 4px;
}

.blogDes p{
    font-size: 13px;
    padding: 5px 0;
    color: #989898;
    font-weight: 400;
    line-height: 24px;
}

.date{
    font-size: 11px;
    color: #505050 !important;
    font-family: arial;
}

.category{
    font-size: 13px;
    color: #afafaf;
}

.contactContent{
    display: none;
    background: #fff;
    padding: 20px;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contactForm{
    width: 50%;
}

.contactForm input{
    padding: 12px;
    border: 0;
    border-bottom: solid 1px #989898;
    margin: 20px 20px 20px 0;
    width: 40%;
    background: none;
}

.contactForm textarea{
    padding: 12px;
    margin: 20px 20px 20px 0;
    width: 90%;
    border: 0;
    border-bottom: solid 1px #989898;
    background: none;
}

.contactForm input:focus,
.contactForm textarea:focus{
    outline: none;
}

.contactInformation{
    width: 45%;
    margin-left: 20px;
}

.contactInformation ul{
    list-style: none;
    line-height: 40px;
    margin-top: 20px;
}

.contactMap{
    width: 100%;
}

.contactMap iframe{
    width: 100%;
    margin-top: 20px;
}

.active{
    display: block;
}

.activeLink{
    color: #ffc500;
}




@media (max-width: 900px) {
    .profile-des{
        flex-direction: column;
    }

    .left-content{
        width: 100%;
    }

    .right-content{
        width: 100%;
        margin: 20px 0 0 0;
    }

    .header{
        height: 50px;
    }

    .link{
        display: none;
    }

    .send{
        height: 30px;
        width: 100px;
        margin-right: 12px;
    }

    .serviceContent{
        flex-direction: column;
    }

    .service{
        margin:  12px 0;
    }

    .skill{
        flex-direction: column;
    }

    .designSkill, .codeSkill{
        width: 100%;
        margin-bottom: 20px;
    }

}